<% provide(:title, "Log in") %>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
      <p class="mt-2 text-center text-sm text-gray-600">

      </p>
    </div>

    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "email", class: "relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "password", class: "relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>

        <div class="text-sm">
          <%= link_to 'Forgot your password?', new_password_reset_path, class: 'font-medium  text-indigo-600 hover:text-indigo-500' %>
        </div>
      </div>

      <%= f.submit "Log in", class: 'group relative flex w-full justify-center
                                              rounded-md border border-transparent bg-yellow-500
                                              py-2 px-4 text-sm font-medium text-white hover:bg-yellow-400
                                              focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2'%>

    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>