

<%= form_with(model: [@tier_list.user, @tier_list, @tier_list.tiers.build], local: true, class: "space-y-4") do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <% if tier.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-700 p-4 rounded-md">
      <h2 class="font-bold text-lg mb-2"><%= pluralize(tier.errors.count, "error") %> prohibited this tier from being saved:</h2>
      <ul>
        <% tier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, placeholder: "Title", class: 'mt-1 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
  </div>

  <div>
    <%= form.submit "Add Tier", class: 'group relative w-full flex justify-center
                                        rounded-md border border-transparent bg-blue-500
                                        py-2 px-4 text-sm font-medium text-white hover:bg-blue-400
                                        focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2' %>
  </div>
<% end %>