
<%= turbo_frame_tag "tier-#{tier.id}" do %>
  <div class="tier">
    <h3><%= tier.title %></h3>
    <br>
  <p>Tier ID: <%= tier.id %></p>
    <div>
      <%= link_to 'Edit NF', "edit_tier_path(Tier) "%> |
      <%= link_to 'Delete', user_tier_list_tier_path(@tier_list.user, @tier_list, tier), data: { "turbo-method": :delete,
                                            turbo_confirm: "Are you sure you want to delete #{tier.title}?"} %>
    </div>
  </div>



<% end %>