<li data-sortable-update-url="<%= sort_user_tier_list_tier_path(@tier_list.user, @tier_list, tier)%>">
<%= turbo_frame_tag "tier-#{tier.id}" do %>
  <div class="tier p-4 bg-white shadow-md rounded-lg mb-4">
    <h3 class="text-xl font-bold text-gray-800 mb-2"><%= tier.title %></h3>
    <%= link_to 'Delete', user_tier_list_tier_path(@tier_list.user, @tier_list, tier), data: { "turbo-method": :delete,
                                            turbo_confirm: "Are you sure you want to delete #{tier.title}?"}, class: "inline-block bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition-colors" %>
    <div class="flex items-center space-x-4">
      <div data-controller="sortable" data-sortable-group-value="tier_movies" data-sortable-tier-id="<%= tier.id %>" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 bg-neutral-500 rounded-lg mb-1 min-h-32 border border-gray-300 p-4 ">
        <% tier.tier_movies.rank(:row_order).each do |tier_movie| %>      
          <div class="bg-gray-100 p-4 rounded-lg mb-1" data-sortable-id="<%= tier_movie.id%>" data-sortable-update-url="<%= sort_user_tier_list_tier_tier_movie_path(@tier_list.user, @tier_list, tier, tier_movie.id)%>">                                                                                                                
            <img src="<%= tier_movie.movie.poster_url %>" alt="<%= tier_movie.movie.title %> Poster" class="max-w-24 h-auto mb-2 rounded-md">
            <h4 class="text-md font-semibold text-gray-800"><%= tier_movie.movie.title %></h4>
            <p class="text-gray-600"><%= tier_movie.movie.release_date %>  <%= tier_movie.movie.id %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</li>