<%= form_with url: search_movies_path(user_id: @user.id, tier_list_id: @tier_list.id), method: :get, local: true do %>
  <%= image_tag 'TMDBLogoLong.svg' %>
  <div class="flex items-center">
    <%= label_tag :query, "Search for a movie:", class: "text-lg font-bold text-gray-800 mr-4" %>
    <%= text_field_tag :query, params[:query], class: "border border-gray-300 rounded-md p-2 w-full md:w-3/4" %>
    <%= submit_tag "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4" %>
  </div>
<% end %>

<% if @movies&.any? %>
  <%= render partial: 'tiers/tier', locals: {tier: @search_results_tier, tier_list: @tier_list } %>
  <%# <%= render partial: 'tiers/tier', locals: { tier: @search_results_tier, movies: @movies, user: @user, tier_list: @tier_list }  %>
<% elsif params[:query].present? %>
  <p class="mt-4 text-lg text-gray-800">No movies found for '<%= params[:query] %>'</p>
<% end %>