<div class="relative bg-gray-100 p-2 rounded-lg mb-1 group cursor-grab active:cursor-grabbing" data-sortable-id="<%= tier_movie.id %>" data-sortable-update-url="<%= sort_user_tier_list_tier_tier_movie_path(@tier_list.user, @tier_list, tier, tier_movie.id)%>">
  <%# Delete Tier Link %>
  <% if current_user == @tier_list.user %>
    <%= link_to user_tier_list_tier_tier_movie_path(@tier_list.user, @tier_list, tier, tier_movie), data: { "turbo-method": :delete, turbo_confirm: "Are you sure you want to delete this movie?"}, class: "text-red-600 absolute top-0 right-0 p-2 group-hover:opacity-100 opacity-0 transition-opacity duration-200 z-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  <% end %>
  <% end %>
  
  <div class="relative flex flex-col items-center space-y-2" >
    <div data-controller="hovercard"
                   data-hovercard-url-value="<%= hovercard_user_tier_list_tier_tier_movie_path(@tier_list.user, @tier_list, tier, tier_movie) %>"
                   data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
    <img src="<%= tier_movie.movie.poster_url %>" alt="<%= tier_movie.movie.title %> Poster" class="w-12 h-16 object-cover rounded-md transition-transform duration-200 group-hover:scale-110">
  </div>
</div>  
</div>  