<%= provide(:title, @user.username ) %>

<%= @user.username %>, <%= @user.email %>



<% if current_user?(@user) %>
  <%= link_to 'New Tier List',  new_user_tier_list_path(@user) %>
<% end %>
<% if @user.tier_lists.any? %>
  <h3> Tier Lists (<%= @user.tier_lists.count %>)</h3>

  <ol>
    <%= render @tier_lists %>
  </ol>

  <%= will_paginate @tier_lists %>
<% end %>