<% provide(:title, @title) %>
<div>
    <aside>
        <section class="grid grid-cols-2">
            <%= link_to @user, class: "col-span-2" do %>
                <h1 class="text-2xl font-semibold text-gray-800 dark:text-white my-4 text-center col-span-2"><%= @user.username %></h1>
            <% end %>
            <!-- <span class=" dark:text-slate-400 dark:hover:text-slate-500 dark:active:text-slate-600 col-span-2 text-center"><%= link_to "view my profile", @user %></span> -->
            <span class="dark:text-slate-500"><strong>Tier Lists</strong> <%= @user.tier_lists.count %></span>
            <span class="dark:text-slate-500"><strong>Movies Ranked</strong> <%= @user.total_ranked_movie_count %></span>
        </section>

        <section>
            <%= render 'shared/user_stats' %>

            <% if @users.any? %>
                <div>
                    <% @users.each do |user| %>
                        <div class='hidden'>
                            <%= link_to user.username, user %>
                        </div>
                    <% end %>                    
                </div>
            <% end %>
        </section>
    </aside>

    <div>
        <h1 class="text-2xl font-semibold text-gray-800 dark:text-white my-4 text-center col-span-2"><%= @title %></h1>
        <% if @users.any? %>
            <ul>
                <%= render @users %>
            </ul>
            <%= will_paginate %>
        <% end %>
    </div>
</div>