<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render 'layouts/header' %>
    <main class="container mx-auto mt-14 px-5 flex">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <%= render 'shared/flash' %>

        <!-- content -->
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>

    <!-- Debug Info -->
    <% if Rails.env.development? %>
      <pre class="bg-gray-800 text-white p-4 rounded-md mt-8 overflow-auto">
        <%= debug(params) %>
      </pre>
    <% end %>
  </body>
</html>
